:root {
    --color-blue: #173075;
    --color-purple: #833a83;
    --color-pink: #cc4e7a;
    --color-sun: #fa7b67;
    --color-orange: #ffb85a;
    --color-yellow: #f9f871;
    --color-gray: #767587;
  }