/* screen */
@import "login.css";
@import "trainer-management";
/* components */
@import "sidebar.css";
/* etc */
@import "reset.css";
@import "root.css";

.show
.list-kg {
    display: block;
}
.input-box {
    width: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.none {
    display: none;
}
