/* etc */
@import "reset.css";
@import "root.css";
/* screen */
@import "login.css";
@import "screen/member-signup.css";
@import "screen/member-profile.css";
@import "screen/member-index.css";
@import "screen/member-exercise-start.css";
@import "screen/member-exercise-review.css";
@import "screen/member-login.css";
@import "screen/trainer-index.css";
@import "screen/trainer-management.css";
@import "screen/trainer-feedback.css";
@import "screen/trainer-answer.css";
@import "screen/trainer-routine-plus.css";
@import "screen/trainer-routine-exercise-plus.css";
@import "screen/trainer-routine-exercise.css";
/* components */
@import "components/calendar.css";
@import "components/nav.css";
@import "components/modal.css";


* {
    font-size: 13px;
}

.list-kg {
    display: block;
}



.none {
    display: none;
}

.search-icon {
    width: 15px;
    margin-right: 5px;
}

button {
    cursor: pointer;
}


.pretty-circle-icon{
    width: 10px;
    margin: 0 5px;
}
.left-quote-icon {
    width: 12px;
    margin-right: 5px;
}

textarea{
    resize: none;
}

.trash-can{
    width: 15px;
    margin-right: 7px;
}
.pencil{
    width: 15px;
    margin-right: 7px;
}
.plus-icon{
    width: 15px;
    margin-right: 5px;
}