/* etc */
@import "reset.css";
@import "root.css";
/* screen */
@import "login.css";
@import "screen/member-signup.css";
@import "screen/member-profile.css";
@import "screen/member-index.css";
@import "screen/member-exercise-start.css";
@import "screen/member-exercise-review.css";
/* components */
@import "components/calendar.css";
@import "components/nav.css";


* {
    font-size: 13px;
}

.list-kg {
    display: block;
}

.input-box {
    width: 30px;
    border: none;
    border-bottom: 1px solid black;
}

