h4 {
    color: var(--color-gray);
    margin: 30px 0;
}

.mypage-profile {
    padding: 30px 15px;
}

.index-list {
    padding: 19px 0;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}